@font-face {
    font-display: swap;
    font-family: Inter-Variable;
    src: url(Inter-Variable.woff2) format('woff2 supports variations'),
    url(Inter-Variable.woff2) format('woff2-variations'),
    local('Inter-Variable');
    font-weight: 400 785;
    }